/* Styling for forcegraph nodes and edges*/
.node {
  border-radius: 50%;
  height: 170px;
  width: 170px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-width: 8px;
  border-color: #ffffff;
  background-color: #EF686A;
}

.node :global .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.edge {
  font-size: 8px;
}