.node {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  font-size: 30px;
  border-width: 4px;
  border-color: #ffffff;
  background-color: #EF686A;
}

.node :global .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.edge {
  font-size: 30px;
  style {
    stroke: '#FFFFFF'
  }
}